extends ../layouts/basic

block extra_head
    <title>主题下载 - Apache ECharts (incubating)</title>
    link(rel="stylesheet", type="text/css", href="#{cdnRoot}/#{ecWWWLang}/vendors/prettify/prettify.css")

block content
    nav(class='navbar navbar-default navbar-fixed-top')
        include ../components/nav

    .page-info
        #themes.container
            h1 主题下载
            p 让你的图表整体换个装，除了官方提供的主题之外，还可以定制你自己的主题

    .page-content.container#themes
        .row
            each themeName, idx in theme
                .col-sm-4.theme
                    a(class="download-theme" href="#{cdnRoot}/#{ecWWWLang}/asset/theme/#{themeName}.js" download="#{themeName}.js" target="_blank")
                        img(src="#{cdnRoot}/#{ecWWWLang}/asset/theme/thumb/#{themeName}.png" alt="")
                    p #{themeName}

    section.section-bg#theme-configure-section
        .container
            #theme-builder
                a.btn.btn-thirdary.more-btn(href="https://www.echartsjs.com/theme-builder/") 定制主题
                p 可在线编辑定义主题并进行下载

    section
        .container
            #theme-example
                h4 主题使用示例
                pre(class="html").
                    &lt;script src="echarts.js"&gt;&lt;/script&gt;
                    &lt;!-- 引入 vintage 主题 --&gt;
                    &lt;script src="theme/vintage.js"&gt;&lt;/script&gt;
                    &lt;script&gt;
                    // 第二个参数可以指定前面引入的主题
                    var chart = echarts.init(document.getElementById('main'), 'vintage');
                    chart.setOption({
                        ...
                    });
                    &lt;/script&gt;

    include ../components/footer

block extra_js
    script(src="#{cdnRoot}/#{ecWWWLang}/vendors/prettify/prettify.js")
    script(src="#{cdnRoot}/#{ecWWWLang}/vendors/prettify/lang-css.js")
    script.
        document.getElementById('nav-download').className = 'active';
        $('pre').addClass('prettyprint');
        prettyPrint();

        $('.download-theme').click(function () {
            _hmt.push(['_trackEvent', 'download-theme', 'download-theme', '']);
        });