
block variables

doctype html
html
    head
        meta(charset='utf-8')

        if useDp
            script.
                window.alogObjectConfig = {
                    sample: '1',
                    product: '773',
                    page: '773_2',
                    monkey_page: '',
                    speed_page: '',
                    speed: {
                        sample: '1'
                    },
                    monkey: {
                        sample: '1'
                    },
                    exception: {
                        sample: '1'
                    },
                    feature: {
                        sample: '1'
                    },
                    cus: {
                        sample: '1'
                    }
                };
                void function(a,b,c,d,e,f,g){a.alogObjectName=e,a[e]=a[e]||function(){(a[e].q=a[e].q||[]).push(arguments)},a[e].l=a[e].l||+new Date,d="https:"===a.location.protocol?"https://fex.bdstatic.com"+d:"http://fex.bdstatic.com"+d;var h=!0;if(a.alogObjectConfig&&a.alogObjectConfig.sample){var i=Math.random();a.alogObjectConfig.rand=i,i>a.alogObjectConfig.sample&&(h=!1)}h&&(f=b.createElement(c),f.async=!0,f.src=d+"?v="+~(new Date/864e5)+~(new Date/864e5),g=b.getElementsByTagName(c)[0],g.parentNode.insertBefore(f,g))}(window,document,"script","/hunter/alog/alog.min.js","alog"),void function(){function a(){}window.PDC={mark:function(a,b){alog("speed.set",a,b||+new Date),alog.fire&&alog.fire("mark")},init:function(a){alog("speed.set","options",a)},view_start:a,tti:a,page_ready:a}}();
                void function(n){var o=!1;n.onerror=function(n,e,t,c){var i=!0;return!e&&/^script error/i.test(n)&&(o?i=!1:o=!0),i&&alog("exception.send","exception",{msg:n,js:e,ln:t,col:c}),!1},alog("exception.on","catch",function(n){alog("exception.send","exception",{msg:n.msg,js:n.path,ln:n.ln,method:n.method,flag:"catch"})})}(window);

        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1', user-scalable="no")

        meta(name="description" content="ECharts, a powerful, interactive charting and visualization library for browser")

        link(rel='shortcut icon', href='images/favicon.png')
        link(rel='stylesheet', type='text/css', href='http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css')
        // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        <!--[if lt IE 9]>
        script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
        script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
        <![endif]-->

        link(rel='stylesheet', type='text/css', href='./css/main.css?_v_=#{homeVersion}')

        script(type='text/javascript', src='./vendors/pace/pace.min.js')

        script(id='font-hack', type='text/javascript').
            if (/windows/i.test(navigator.userAgent)) {
                var el = document.createElement('style');
                el.innerHTML = ''
                    + '@font-face {font-family:"noto-thin";src:local("Microsoft Yahei");}'
                    + '@font-face {font-family:"noto-light";src:local("Microsoft Yahei");}';
                document.head.insertBefore(el, document.getElementById('font-hack'));
            }

        block extra_head

        script(type='text/javascript', src='./vendors/jquery/jquery.min.js')

        if useDp
            script.
                alog('speed.set', 'ht', +new Date);

    <!--[if lte IE 8]>
    body.lower-ie
        #lowie-main
            img(src="./images/forie.png", alt="ie tip")
    <![endif]-->
    <!--[if (gt IE 8)|!(IE)]>
    body(class="#{pageTitle}")
    <![endif]-->
    #main
        block content

    script(type='text/javascript', src='./vendors/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src='./js/common.js')

    block extra_js

    if useDp
        script.
            void function(a,b,c,d,e,f){function g(b){a.attachEvent?a.attachEvent("onload",b,!1):a.addEventListener&&a.addEventListener("load",b)}function h(a,c,d){d=d||15;var e=new Date;e.setTime((new Date).getTime()+1e3*d),b.cookie=a+"="+escape(c)+";path=/;expires="+e.toGMTString()}function i(a){var c=b.cookie.match(new RegExp("(^| )"+a+"=([^;]*)(;|$)"));return null!=c?unescape(c[2]):null}function j(){var a=i("PMS_JT");if(a){h("PMS_JT","",-1);try{a=a.match(/{["']s["']:(\d+),["']r["']:["']([\s\S]+)["']}/),a=a&&a[1]&&a[2]?{s:parseInt(a[1]),r:a[2]}:{}}catch(c){a={}}a.r&&b.referrer.replace(/#.*/,"")!=a.r||alog("speed.set","wt",a.s)}}if(a.alogObjectConfig){var k=a.alogObjectConfig.sample,l=a.alogObjectConfig.rand;d="https:"===a.location.protocol?"https://fex.bdstatic.com"+d:"http://fex.bdstatic.com"+d,k&&l&&l>k||(g(function(){alog("speed.set","lt",+new Date),e=b.createElement(c),e.async=!0,e.src=d+"?v="+~(new Date/864e5)+~(new Date/864e5),f=b.getElementsByTagName(c)[0],f.parentNode.insertBefore(e,f)}),j())}}(window,document,"script","/hunter/alog/dp.min.js");
            alog('speed.set', 'drt', +new Date);

    script(type='text/javascript').
        var _hmt = _hmt || [];
        (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?4bad1df23f079e0d12bdbef5e65b072f";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
        })();
