extends basic

block extra_head
    title Examples - Apache ECharts
    style.
        html, body {
            /* position: sticky should not have overflow parents.*/
            overflow-x: hidden;
        }
    link(rel="stylesheet", href="#{cdn3rdRoot.elementUICSS}")
    link(rel="stylesheet", href="#{getAssetUrl(cdnPayRoot, 'examples/css/example-bundle.css')}")

block content

    #ec-example-main

block extra_js
    script(src="#{cdn3rdRoot.vueJS}")
    script(src="#{cdn3rdRoot.elementUIJS}")
    script(src="#{getAssetUrl(cdnPayRoot, 'examples/js/example-bundle.js')}")

    block global_args_extra

    script(type="text/javascript").
        window.EC_WWW_CDN_PAY_ROOT = '#{cdnPayRoot}';
        window.globalArgsExtra.version = '#{homeVersion}';
        window.globalArgsExtra.cdnRoot = window.EC_WWW_CDN_PAY_ROOT + '/examples';
        
        echartsExample.init('#ec-example-main', window.globalArgsExtra);

        // Remove apache banner
        const dom = document.getElementById('apache-banner');
        if (dom && dom.parentNode) {
            dom.parentNode.removeChild(dom);
        }

