extends ../layouts/basic

block variablesLang
    include ./_variablesLang.jade

block extra_head
    title Committers - Apache ECharts (incubating)

block content
    nav(class='navbar navbar-default navbar-fixed-top')
        include ./nav

    .page-info
        h1 Thanks for Helping
        p The development of ECharts is associated with the outstanding contributions from the people in the community,<br>who have different skills and come from different backgrounds.
        p Thank you all your help!

    #about-page
        section.container.contributor

            h4.group.mentors  Apache Mentors
            .row
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        img(src='#{cdnRoot}/#{ecWWWLang}/images/people/dave.jpg')
                        h5.about-name Dave Fisher
                        .about-desc San Francisco, US
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        img(src='#{cdnRoot}/#{ecWWWLang}/images/people/kevin.jpg')
                        h5.about-name Kevin A. McGrail
                        .about-desc Washington, US
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        img(src='#{cdnRoot}/#{ecWWWLang}/images/people/shengwu.jpg')
                        h5.about-name Sheng Wu
                        .about-desc Beijing, China
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        img(src='#{cdnRoot}/#{ecWWWLang}/images/people/tedliu.jpg')
                        h5.about-name Ted Liu
                        .about-desc Beijing, China

            h4.group.code PPMC
            .row
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        a(href='https://github.com/pissang', target='_blank')
                            img(src='#{cdnRoot}/#{ecWWWLang}/images/people/沈毅.jpg')
                        h5.about-name Yi Shen
                        .about-desc Baidu
                        .about-desc Shanghai, China
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        a(href='https://github.com/100pah', target='_blank')
                            img(src='#{cdnRoot}/#{ecWWWLang}/images/people/宿爽.jpg')
                        h5.about-name Shuang Su
                        .about-desc Baidu
                        .about-desc Beijing, China
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        a(href='https://github.com/Ovilia', target='_blank')
                            img(src='#{cdnRoot}/#{ecWWWLang}/images/people/羡辙.jpg')
                        h5.about-name Ovilia
                        .about-desc Baidu
                        .about-desc Shanghai, China
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        a(href='https://github.com/deqingli', target='_blank')
                            img(src='#{cdnRoot}/#{ecWWWLang}/images/people/德清.jpg')
                        h5.about-name Deqing Li
                        .about-desc Alibaba
                        .about-desc Hangzhou, China
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        a(href='https://www.behance.net/wjtjiayouac8aa', target='_blank')
                            img(src='#{cdnRoot}/#{ecWWWLang}/images/people/王俊婷.jpg')
                        h5.about-name Junting Wang
                        .about-desc Baidu
                        .about-desc Shanghai, China
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        a(href='https://github.com/kener', target='_blank')
                            img(src='#{cdnRoot}/#{ecWWWLang}/images/people/林峰.jpg')
                        h5.about-name Feng Lin
                        .about-desc Alibaba
                        .about-desc Hangzhou, China

                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        a(href='https://github.com/erik168', target='_blank')
                            img(src='#{cdnRoot}/#{ecWWWLang}/images/people/erik.jpg')
                        h5.about-name Erik
                        .about-desc Baidu
                        .about-desc Beijing, China

                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        a(href='https://github.com/chriswong', target='_blank')
                            img(src='#{cdnRoot}/#{ecWWWLang}/images/people/大佛.jpg')
                        h5.about-name Houjin Huang
                        .about-desc GSX
                        .about-desc Beijing, China

                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        a(href='https://github.com/susiwen8', target='_blank')
                            img(src='#{cdnRoot}/#{ecWWWLang}/images/people/苏思文.jpg')
                        h5.about-name Siwen Su
                        .about-desc Baidu
                        .about-desc Beijing, China



            h4.group.code Committers
            .row
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        a(href='https://github.com/cuijian-dexter', target='_blank')
                            img(src='#{cdnRoot}/#{ecWWWLang}/images/people/崔健.jpg')
                        h5.about-name Jian Cui
                        .about-desc Baidu
                        .about-desc Beijing, China

                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        a(href='https://github.com/ClemMakesApps', target='_blank')
                            img(src='#{cdnRoot}/#{ecWWWLang}/images/people/clement.jpg')
                        h5.about-name Clement Ho
                        .about-desc GitLab
                        .about-desc Texas, US

                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        a(href='https://github.com/yufeng04', target='_blank')
                            img(src='#{cdnRoot}/#{ecWWWLang}/images/people/禹峰.jpg')
                        h5.about-name Feng Yu
                        .about-desc Baidu
                        .about-desc Shanghai, China

                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        a(href='https://github.com/SnailSword', target='_blank')
                            img(src='#{cdnRoot}/#{ecWWWLang}/images/people/韩天.jpg')
                        h5.about-name Tian Han
                        .about-desc Student
                        .about-desc Beijing, China
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        a(href='https://github.com/alex2wong', target='_blank')
                            img(src='#{cdnRoot}/#{ecWWWLang}/images/people/黄益修.jpg')
                        h5.about-name Yixiu Huang
                        .about-desc ByteDance
                        .about-desc Shanghai, China
                .col-md-3.col-sm-4.col-xs-6
                    .about-person
                        a(href='https://github.com/chfw', target='_blank')
                            img(src='#{cdnRoot}/#{ecWWWLang}/images/people/weizhi.jpg')
                        h5.about-name chfw
                        .about-desc UK


            h4.group.contributor Contributors
            .row
                <p></p>
                p Thanks to all the <a href="https://github.com/apache/incubator-echarts/graphs/contributors">CONTRIBUTORS</a> <br /> making their effort to help ECharts getting better.

                //- .col-md-3.col-sm-4.col-xs-6
                //-     .about-person
                //-         a(href='https://github.com/Justineo', target='_blank')
                //-             img(src='images/people/顾轶灵.jpg')
                //-         h5.about-name Yiling Gu
                //-         .about-desc Author of vue-echarts
                //-         .about-desc Shanghai, China
                //- .col-md-3.col-sm-4.col-xs-6
                //-     .about-person
                //-         a(href='https://github.com/The-only', target='_blank')
                //-             img(src='images/people/小红.jpg')
                //-         h5.about-name Xiaohong Deng
                //-         .about-desc Baidu
                //-         .about-desc Shenzhen, China
                //- .col-md-3.col-sm-4.col-xs-6
                //-     .about-person
                //-         img(src='images/people/祖明.jpg')
                //-         h5.about-name Ming Zu
                //-         .about-desc Baidu
                //-         .about-desc Beijing, China
                //- .col-md-3.col-sm-4.col-xs-6
                //-     .about-person
                //-         a(href='https://github.com/firede', target='_blank')
                //-             img(src='images/people/田彧.jpg')
                //-         h5.about-name Yu Tian
                //-         .about-desc Baidu
                //-         .about-desc Beijing, China
                //- .col-md-3.col-sm-4.col-xs-6
                //-     .about-person
                //-         a(href='https://github.com/firede', target='_blank')
                //-             img(src='images/people/赵雷.jpg')
                //-         h5.about-name Lei Zhao
                //-         .about-desc Hefei, China
                //- .col-md-3.col-sm-4.col-xs-6
                //-     .about-person
                //-         img(src='images/people/魏太云.jpg')
                //-         h5.about-name Taiyun Wei
                //-         .about-desc Author of recharts
                //-         .about-desc Beijing, China
                //- .col-md-3.col-sm-4.col-xs-6
                //-     .about-person
                //-         img(src='images/people/周扬.jpg')
                //-         h5.about-name Yang Zhou
                //-         .about-desc Author of recharts
                //-         .about-desc Beijing, China
                //- .col-md-3.col-sm-4.col-xs-6
                //-     .about-person
                //-         a(href='https://github.com/wind108369', target='_blank')
                //-             img(src='images/people/杨骥.jpg')
                //-         h5.about-name Ji Yang
                //-         .about-desc China
                //- .col-md-3.col-sm-4.col-xs-6
                //-     .about-person
                //-         a(href='https://github.com/loutongbing', target='_blank')
                //-             img(src='images/people/娄同兵.jpg')
                //-         h5.about-name Tongbing Lou
                //-         .about-desc China
                //- .col-md-3.col-sm-4.col-xs-6
                //-     .about-person
                //-         img(src='images/people/黄悦.jpg')
                //-         h5.about-name Yue Huang
                //-         .about-desc Microsoft
                //-         .about-desc Beijing, China
                //- .col-md-3.col-sm-4.col-xs-6
                //-     .about-person
                //-         img(src='images/people/JB.jpg')
                //-         h5.about-name Jaroslav Benc
                //-         .about-desc R&D Software Engineer
                //-         .about-desc New Zealand


        //-    h4.group.code Industry Support
        //-     .row
        //-         .col-md-3.col-sm-4.col-xs-6
        //-             .about-person
        //-                 img(src='images/people/谢益辉.jpg')
        //-                 h5.about-name Yihui Xie
        //-                 .about-desc Founder of Capital of Statistics
        //-         .col-md-3.col-sm-4.col-xs-6
        //-             .about-person
        //-                 img(src='images/people/黄志敏.jpg')
        //-                 h5.about-name Zhimin Huang
        //-                 .about-desc Founder of data-viz.cn
        //-                 .about-desc Beijing, China
        //-         .col-md-3.col-sm-4.col-xs-6
        //-             .about-person
        //-                 img(src='images/people/桑文锋.jpg')
        //-                 h5.about-name Wenfeng Sang
        //-                 .about-desc Sensors CEO
        //-                 .about-desc Beijing, China
        //-         .col-md-3.col-sm-4.col-xs-6
        //-             .about-person
        //-                 img(src='images/people/红薯.jpg')
        //-                 h5.about-name Hong Shu
        //-                 .about-desc Founder of Oschina
        //-                 .about-desc Shenzhen, China
        //-         .col-md-3.col-sm-4.col-xs-6
        //-             .about-person
        //-                 img(src='images/people/王琼.jpg')
        //-                 h5.about-name Qiong Wang
        //-                 .about-desc Founder of dydata.io
        //-                 .about-desc Wuhan, China
        section.container.company

            h4.group.companie Companies using ECharts
            .row


                - for (var i = 1; i <= 24; ++i) {
                    .col-md-3.col-sm-4.col-xs-6
                        img(src='#{cdnRoot}/#{ecWWWLang}/images/company/company#{i}.jpg')
                -}
    include ./footer

block extra_js

    script(type='text/javascript').
        document.getElementById('nav-about').className = 'active';
