extends ../layouts/basic

block variablesLang
    include ./_variablesLang.jade

block extra_head
    title Features - Apache ECharts

block content
    nav(class='navbar navbar-default navbar-fixed-top')
        include ./nav

    .page-main
        .page-info
            .container
                h1 Features
                p.page-info-echarts Apache ECharts<sup>TM</sup>

        .page-content.single-page
            .page-nav
                h4 Features
                ul
            .page-detail
                p.page-detail-desc Apache ECharts<sup>TM</sup> is an open-source JavaScript visualization library, optimized for both PC and mobile devices. Compatible with most modern web browsers, including IE9/10/11, Chrome, Firefox and Safari, ECharts uses <a href="https://github.com/ecomfe/zrender" target="_blank">ZRender</a>, a graphic rendering engine, to create intuitive, interactive, and highly-customizable charts.

                h2#chart-types Abundant Chart Types
                p ECharts supports <a href="option.html#series-line" target="_blank">line series</a>, <a href="option.html#series-bar" target="_blank">bar series</a>, <a href="option.html#series-scatter" target="_blank">scatter series</a>, <a href="option.html#series-pie" target="_blank">pie charts</a>, <a href="option.html#series-candlestick" target="_blank">candle-stick series</a>, <a href="option.html#series-boxplot" target="_blank">boxplot series</a> for statistics, <a href="option.html#series-map" target="_blank">map series</a>, <a href="option.html#series-heatmap" target="_blank">heatmap series</a>, <a href="option.html#series-lines" target="_blank">lines series</a> for directional information, <a href="option.html#series-graph" target="_blank">graph series</a> for relationships, <a href="option.html#series-treemap" target="_blank">treemap series</a>, <a href="option.html#series-sunburst" target="_blank">sunburst series</a>, <a href="option.html#series-parallel" target="_blank">parallel series</a> for multi-dimensional data, <a href="option.html#series-funnel" target="_blank">funnel series</a> and <a href="option.html#series-gauge" target="_blank">gauge series</a>. It's easy to create combinations of these visualization types with ECharts.
                p Besides the built-in chart types, ECharts also provides a <a href="option.html#series-custom" target="_blank">custom series</a> for users to create more specific chart types. To use it, just pass the <em>renderItem</em> callback function and return any graphic elements you wish to draw, according to the data. ECharts supports native interactivity and so there is no need for further configuration.
                p ECharts is highly optimised, but if the default package size is too large for you, you can select the chart types and components you need and download them via <a href="builder.html" target="_blank">the online builder</a>.

                h2#dataset Multiple Data Format Ready-To-Use
                p The built-in <code>dataset</code> attribute from ECharts v4.0 supports different data formats, including two-dimensional tables, key-value objects, and more. Data mapping structures can easily be modified with the <code>encode</code> attribute. This makes developing charts much more intuitive, saving time normally spent writing data conversion algorithms. It also saves memory as different components can rely on one dataset rather than multiple copies.
                p ECharts supports <code>TypedArray</code>, which uses less memory than a standard array and works better with garbage collection. For larger data visualization, TypedArray significantly improves performance.

                h2#big-data Large-Scale Data Visualizations
                p EChart v4.0's incremental rendering technique and other optimizations allows it to visualize millions of data points. Interactions like scaling and panning continue to work well even with these large-scale visualizations.
                p Using this many data points is usually very memory intensive. ECharts supports streaming data since v4.0, allowing you to render as much data as possible using WebSocket. Data can be rendered even when the complete dataset has not yet loaded.

                img(src="#{cdnPayRoot}/#{ecWWWLang}/images/features/scatterGL.jpg?_v_=#{cdnPayVersion}", width="60%")
                <br />
                img(src="#{cdnPayRoot}/#{ecWWWLang}/images/features/scatterGL2.jpg?_v_=#{cdnPayVersion}", width="30%")
                img(src="#{cdnPayRoot}/#{ecWWWLang}/images/features/scatterGL3.jpg?_v_=#{cdnPayVersion}", width="30%")

                h2#mobile Mobile Optimization
                p ECharts has been carefully optimized for mobile interaction, such as zooming and panning on small screens. PC users can still use the mouse wheel to perform the same interactions.
                p The packaging utility allows ECharts to have a small package size on mobile, with the optional SVG rendering engine further reducing memory usage.
                iframe(data-src="#{host}/examples/en/view.html?c=area-simple&reset=1&edit=1&renderer=svg", width="60%", height="400")

                h2#mult-platform Multiple Rendering Methods and Cross-Platform Support

                p ECharts supports rendering with Canvas, SVG (v4.0+), and VML elements. VML is compatible with older versions of IE; SVG reduces the memory cost on mobiles; and Canvas can easily handle large data visualization and special rendering effects.

                p In addition to PC and mobile browsers, ECharts can also be used with node-canvas on Node for efficient server-side rendering (SSR). It also supports <a href="https://github.com/ecomfe/echarts-for-weixin" target="_blank">WeChat MiniProgram</a> since v4.0.

                p Community contributors also develop <a href="#{host}/en/download-extension.html" target="_blank">extensions for various programming languages</a>, such as <a href="https://github.com/pyecharts/pyecharts" target="_blank">pyecharts</a> for Python, <a href="https://github.com/helgasoft/echarty" target="_blank">echarty</a> for R and <a href="https://github.com/randyzwitch/ECharts.jl" target="_blank">ECharts.jl</a> for Julia.

                p With our wide platform and programming language support, ECharts lets developers focus on the visualisation, rather than the technical details.

                h2#interaction Interactive Data Exploration
                p Interaction is key to understanding data. On initial view, ECharts provides an overview that can be zoomed, panned and filtered to provide more granular information.
                p Optional elements can be enabled to further interactivity. The <a href="option.html#legend" target="_blank">legend</a>, <a href="option.html#visualMap" target="_blank">visualMap</a>, <a href="option.html#dataZoom" target="_blank">dataZoom</a>, <a href="option.html#tooltip" target="_blank">tooltip</a>, <a href="option.html#brush" target="_blank">brush</a> and other ready-to-use components allow users to interact with data in multiple dimensions.

                //- iframe(data-src="#{host}/examples/en/view.html?c=map-parallel-prices&reset=1&edit=1", width="60%", height="540")
                iframe(data-src="#{host}/examples/en/view.html?c=scatter-matrix&reset=1&edit=1", width="60%", height="540")

                h2#visual-mapping Multi-Dimensional Data Support
                p ECharts 3 strengthened support for multi-dimensional data. In addition to common multi-dimensional data visualization elements, such as parallel coordinates for traditional scatter plots, the input data can also be rendered in multiple dimensions. With the intuitive functions provided by the visual mapping component <a href="option.html#visualMap" target="_blank">visualMap</a>, different dimensions can be mapped to color, size, transparency, shading and more.
                iframe(data-src="#{host}/examples/en/view.html?c=scatter-nutrients-matrix&reset=1&edit=1", width="60%", height="400")

                h2#dynamic-data Dynamic Data
                p Changes in the underlying dataset will be reflected in real time on charts. Implementing dynamic data is simple, just import the data as normal and ECharts will automatically find the difference between the two sets of data and then use the appropriate animation to represent the data changes. The <a href="option.html#timeline" target="_blank">timeline</a> component can present data in other time dimensions as well.
                iframe(data-src="#{host}/examples/en/view.html?c=scatter-life-expectancy-timeline&reset=1&edit=1", width="60%", height="400")

                h2#fancy-effects Special Effects
                p ECharts provides eye-catching effects for the visualization of all data types, whether point, line or geographic.
                iframe(data-src="#{host}/examples/en/view.html?c=lines-bmap-effect&reset=1&edit=1", width="60%", height="400")

                h2#gl More Powerful 3D Visualizations with GL
                p ECharts even allows you to perform 3D visualizations in VR and other large screen scenes. The WebGL-based ECharts GL lets you render a 3D Earth, buildings, and population distribution histograms as easily as other ECharts components. To add, simple configuration items let you add effects with just a few lines of configuration changes.

                img(src="#{cdnPayRoot}/#{ecWWWLang}/images/features/flowGL-line.jpg?_v_=#{cdnPayVersion}", width="40%")
                img(src="#{cdnPayRoot}/#{ecWWWLang}/images/features/buildings-ny.jpg?_v_=#{cdnPayVersion}", width="40%")
                <br />
                img(src="#{cdnPayRoot}/#{ecWWWLang}/images/features/capetown-taxi.jpg?_v_=#{cdnPayVersion}", width="40%")
                img(src="#{cdnPayRoot}/#{ecWWWLang}/images/features/population.jpg?_v_=#{cdnPayVersion}", width="40%")

                h2#aria Accessibility

                p When thinking about a visualization, we naturally associate it with what you see, but there are other dimensions to viewing. The W3C has developed the Accessible Rich Internet Applications Suite (WAI-ARIA), which aims to make web content and web applications accessible to more people with disabilities.
                p ECharts 4.0 complies with this specification and supports automatic generation of descriptions based on chart configuration items, enabling people with visual disabilities to understand the chart content with screenreaders, so that charts are accessible to all.

                include ../components/inner-footer


block extra_js
    script.
        window.lazyLoadOptions = {
            elements_selector: 'iframe'
        };
    script(src='#{cdn3rdRoot.lazyloadJS}')
    script(type='text/javascript').
        document.getElementById('nav-doc').className = 'active';
