mixin nav(hostParam, cdnPayRootParam)
    div(class='container-fluid')
        div(class='navbar-header')
            button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar-collapse", aria-expanded="false")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a(class='navbar-brand' href="#{hostParam}/en/index.html")
                img(class="navbar-logo", src="#{cdnPayRootParam}/en/images/logo.png", alt="echarts logo")
        div(class="collapse navbar-collapse", id="navbar-collapse")
            ul(class='nav navbar-nav navbar-left')
                li#nav-index
                    a(href='#{hostParam}/en/index.html') Home
                li#nav-doc.dropdown
                    a(href='#', class="dropdown-toggle", data-toggle="dropdown") Documents
                        b.caret
                    ul.dropdown-menu
                        li
                            a(href="#{hostParam}/en/feature.html") Features
                        li
                            a(href="#{hostParam}/en/tutorial.html") Tutorials
                        li
                            a(href="#{hostParam}/en/api.html") API
                        li
                            a(href="#{hostParam}/en/cheat-sheet.html") Cheat Sheet
                                span.new NEW
                        li
                            a(href="#{hostParam}/en/option.html") Chart Configuration
                        li
                            a(href="#{hostParam}/en/option-gl.html") GL Configuration
                        li
                            a(href="#{hostParam}/en/changelog.html") Changelog
                li#nav-download.dropdown
                    a(href='#', class="dropdown-toggle", data-toggle="dropdown") Download
                        b.caret
                    ul.dropdown-menu
                        li
                            a(href="#{hostParam}/en/download.html") Download
                        li
                            a(href="#{hostParam}/en/download-theme.html") Download Themes
                        li
                            a(href="#{hostParam}/en/download-extension.html") Download Extensions
                li#nav-examples
                    a(href='#', class="dropdown-toggle", data-toggle="dropdown") Examples
                        b.caret
                    ul.dropdown-menu
                        li
                            a(href='#{hostParam}/examples/en/index.html') ECharts Examples
                        li
                            a(href='#{hostParam}/examples/en/index.html#chart-type-globe') GL Examples
                li#nav-community
                    a(href='#', class="dropdown-toggle", data-toggle="dropdown") Community
                        b.caret
                    ul.dropdown-menu
                        li
                            a(href="https://gallery.echartsjs.com") Gallery (Chinese)
                li#nav-tool
                    a(href='#', class="dropdown-toggle", data-toggle="dropdown") Tools
                        b.caret
                    ul.dropdown-menu
                        li
                            a(href="#{hostParam}/zh/spreadsheet.html") Spread Sheet Tool (Chinese)
                        li
                            a(href="https://www.echartsjs.com/theme-builder/") Theme Builder (Chinese)
                li#nav-contribute
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                        | Contributing
                        b.caret
                    ul.dropdown-menu
                        li
                            a(href='#{hostParam}/en/contributing.html') How to Contribute
                        li
                            a(href='https://github.com/apache/incubator-echarts', target='_blank') Source Code (GitHub)
                        li
                            a(href='https://github.com/apache/incubator-echarts/issues', target='_blank') Issue Tracking
                        li
                            a(href='#{hostParam}/en/coding-standard.html') Code Standard
                li#nav-about
                    a(href='#', class="dropdown-toggle", data-toggle="dropdown") About
                        b.caret
                    ul.dropdown-menu
                        li
                            a(href='#{hostParam}/en/committers.html') Committers
                        li
                            a(href='https://www.apache.org/licenses/') License
                        li
                            a(href='#{hostParam}/en/maillist.html') Mailing List
                        li
                            a(href='#{hostParam}/en/dependencies.html') Dependencies
                        li
                            a(href='#{hostParam}/en/security.html') Security
                        li
                            a(href='#{hostParam}/en/faq.html') FAQ

            ul(class='nav navbar-nav navbar-right')
                li#nav-homeen
                    a(href='javascript:;', onclick="changeLang('zh')") 中文
                li#nav-apache
                    a(href="https://www.apache.org/" target="_blank")
                        img(src="#{cdnPayRootParam}/en/images/apache-incubator-white.png", width="18")
