mixin nav(basePath, cdnBasePath)
    div(class='container-fluid')
        div(class='navbar-header')
            button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar-collapse", aria-expanded="false")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a(class='navbar-brand' href="#{basePath}/en/index.html")
                img(class="navbar-logo", src="#{cdnBasePath}/en/images/logo.png", alt="echarts logo")
        div(class="collapse navbar-collapse", id="navbar-collapse")
            ul(class='nav navbar-nav navbar-left')
                li#nav-index
                    a(href='#{basePath}/en/index.html') Home
                li#nav-doc.dropdown
                    a(href='#', class="dropdown-toggle", data-toggle="dropdown") Documents
                        b.caret
                    ul.dropdown-menu
                        li
                            a(href="#{basePath}/en/feature.html") Features
                        li
                            a(href="#{basePath}/en/tutorial.html") Tutorials
                        li
                            a(href="#{basePath}/en/api.html") API
                        li
                            a(href="#{basePath}/en/cheat-sheet.html") Cheat Sheet
                                span.new NEW
                        li
                            a(href="#{basePath}/en/option.html") Chart Configuration
                        li
                            a(href="#{basePath}/en/option-gl.html") GL Configuration (Chinese)
                        li
                            a(href="#{basePath}/en/changelog.html") Changelog
                li#nav-download.dropdown
                    a(href='#', class="dropdown-toggle", data-toggle="dropdown") Download
                        b.caret
                    ul.dropdown-menu
                        li
                            a(href="#{basePath}/en/download.html") Download
                        li
                            a(href="#{basePath}/en/download-theme.html") Download Themes
                        li
                            a(href="#{basePath}/en/download-extension.html") Download Extensions
                li#nav-examples
                    a(href='#', class="dropdown-toggle", data-toggle="dropdown") Examples
                        b.caret
                    ul.dropdown-menu
                        li
                            a(href='#{basePath}/examples/en/index.html') ECharts Examples
                        li
                            a(href='#{basePath}/examples/en/index.html#chart-type-globe') GL Examples
                //- li#nav-community
                //-     a(href='#', class="dropdown-toggle", data-toggle="dropdown") Community
                //-         b.caret
                //-     ul.dropdown-menu
                //-         li
                //-             a(href="https://gallery.echartsjs.com") Gallery (Chinese)
                //-         li
                //-             a(href="#{blogPath}") Blog (Chinese)
                //- li#nav-tool
                //-     a(href='#', class="dropdown-toggle", data-toggle="dropdown") Tools
                //-         b.caret
                //-     ul.dropdown-menu
                //-         li
                //-             a(href="#{basePath}/zh/spreadsheet.html") Spread Sheet Tool (Chinese)
                //-         li
                //-             a(href="https://echarts.baidu.com/theme-builder/") Theme Builder (Chinese)
                li#nav-contribute
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                        | Contribute
                        b.caret
                    ul.dropdown-menu
                        li
                            a(href='https://github.com/apache/incubator-echarts', target='_blank') Source Code (GitHub)
                        li
                            a(href='https://github.com/apache/incubator-echarts/issues', target='_blank') Issue Tracking
                        li
                            a(href='#{basePath}/en/coding-standard.html') Code Standard
                li#nav-about
                    a(href='#', class="dropdown-toggle", data-toggle="dropdown") About
                        b.caret
                    ul.dropdown-menu
                        li
                            a(href='#{basePath}/en/committers.html') Committers
                        li
                            a(href='https://www.apache.org/licenses/') License
                        li
                            a(href='#{basePath}/en/maillist.html') Mailing List
                        li
                            a(href='#{basePath}/en/dependencies.html') Dependencies
                        li
                            a(href='#{basePath}/en/faq.html') FAQ

            ul(class='nav navbar-nav navbar-right')
                li#nav-github
                    a(href="https://github.com/ecomfe/echarts" target="_blank")
                        img(src="#{cdnBasePath}/en/images/github.png", width="18")
                li#nav-homeen
                    a(href='javascript:;', onclick="changeLang('zh')") 中文

