extends ../layouts/basic

block extra_head
    <title>ECharts 在线构建</title>

block content
    nav(class='navbar navbar-default navbar-fixed-top')
        include ./nav

    block vars

    #builder
        .page-info
            #title.container
                h1 在线定制
                p 可自由选择所需图表、坐标系、组件进行打包下载，并且可对兼容及压缩问题进行设置

        .page-content
            #configuration.container
                if isECharts4
                    a(href='builder3.html', style="float: right") 前往定制 3.x 版本
                else
                    a(href='builder.html', style="float: right") 前往定制 4.x 版本

                section#charts
                    h3 图表
                        span chart
                    p.desc 选择要打包的图表
                        span.warn （注：开发环境建议不压缩代码，代码压缩会去掉大部分常见的警告和错误提示）

                    ul
                        each names, key in charts
                            li(class=names[2] ? 'checked' : '')
                                img(src="images/builder/chart/#{key}.svg", alt="")
                                input(type="checkbox" name="#{key}")
                                <h5>#{names[0]} <div>#{names[1]}</div></h5>

                section#coords
                    h3 坐标系
                        span coordinate systems
                    p.desc 选择要打包的坐标系，有些图表像散点图，折线图可以被应用到多个坐标系上

                    ul
                        each names, key in coords
                            li(class=names[2] ? 'checked' : '')
                                img(src="images/builder/component/#{key}.svg", alt="")
                                input(type="checkbox" name="#{key}")
                                <h5>#{names[0]} <div>#{names[1]}</div></h5>

                section#components
                    h3 组件
                        span component
                    p.desc 选择要打包的组件

                    ul
                        each names, key in components
                            li(class=names[2] ? 'checked' : '')
                                img(src="images/builder/component/#{key}.svg", alt="")
                                input(type="checkbox" name="#{names[3] || key}")
                                <h5>#{names[0]} <div>#{names[1]}</div></h5>

                section#other
                    h3 其它选项
                        span others
                    div.other-option
                        input(type="checkbox" id="svg" name="svg")
                        label(for="svg") SVG 渲染
                        p.desc 是否包括 SVG 渲染器，从而能支持使用 SVG 来绘制图表
                    div.other-option
                        input(type="checkbox" id="vml" name="vml")
                        label(for="vml") 兼容 IE8
                        p.desc 是否包括对 IE8 的兼容代码
                    div.other-option
                        input(type="checkbox" id="api" name="api" checked="checked")
                        label(for="api") API
                        p.desc 是否在 echarts 对象上挂载 API。一般都会挂载，除非对生成的文件的体积有苛求，并且不需要用这些 API。
                    div.other-option
                        input(type="checkbox" id="compress" name="compress" checked="checked")
                        label(for="compress") 代码压缩
                        p.desc 是否使用 UglifyJS 压缩后的代码，开发环境建议不压缩代码，代码压缩会去掉大部分常见的警告和错误提示。

            #action
                p 感谢对ECharts关注与支持，为了更好地为您提供关于 ECharts 的相关资讯，您可以留下您的电子邮箱
                div
                    input(type="text" name="email" id="email" placeholder="someone@email.com")
                .clear
                div
                a.btn.btn-thirdary#build(href="javascript:;") 下载

    include ./footer

block extra_js
    - var buildVersion = isECharts4 ? '4' : '3';

    script(src="js/log.js")
    script.
        if (typeof ecLog === 'undefined') {
            // Incase adblock block log.js
            ecLog = function () {};
        }

        function updateCheckbox() {
            $('#charts input, #components input, #coords input').each(function () {
                $(this).attr('checked', $(this).parent().hasClass('checked'));
            });
        }

        $('#charts li, #components li, #coords li').click(function () {
            $(this).toggleClass('checked');

            updateCheckbox();
        });

        updateCheckbox();

        // Build
        $("#build").click(function () {
            var charts = [];
            $('#charts .checked input').each(function () {
                charts.push($(this).attr('name'));
            });

            var components = [];
            $('#coords .checked input').each(function () {
                components.push($(this).attr('name'));
            });
            $('#components .checked input').each(function () {
                components.push($(this).attr('name'));
            });

            var parameters = 'charts=' + charts.join(',') + '&components=' + components.join(',');

            if (!$('#compress').prop('checked')) {
                parameters += '&source=true';
            }
            if ($('#vml').prop('checked')) {
                parameters += '&vml=true';
            }
            if ($('#svg').prop('checked')) {
                parameters += '&svg=true';
            }
            if ($('#api').prop('checked')) {
                parameters += '&api=true';
            }

            parameters += '&version=#{buildVersion}'
                + '&versionCode=#{downloadVersion}';

            var email = $('#email').val();
            var log = parameters;
            if (email) {
                log += '&email=' + email;
            }
            ecLog({
                'page': 'builder',
                'version': '#{downloadVersion}',
                'build-parameters-3': log
            });

            window.open('builder/echarts.html?' + parameters);
        });
